name: Docker HelloWorld Test

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  docker-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker
        uses: docker/setup-buildx-action@v2

      - name: Build Docker image
        run: docker build -t hello-java .

      - name: Run Docker container and capture output
        run: docker run --rm hello-java
